@{
    ViewBag.Title = "Sobre Zen+";
}

<h2 style="color:grey">@ViewBag.Message</h2>

<p>
    O projeto Home Massage surge após a Zen+ verificar que no estrangeiro o conceito de massagens no
    domicílio já era concreto e utilizado por diversas empresas, mas que, no entanto, em território português
    isso não se verificava. Desta forma, seriam pioneiros do conceito em Portugal, o que, certamente, traria
    uma vantagem relativamente às outras empresas, visto que o cliente poderia, na conveniência e comodidade da sua casa,
    requisitar e usufruir dos serviços da Zen+ sem necessidade de se deslocar um dos seus estabelecimentos.
</p>

<div style="margin-top: 100px;">
    <address>
        Braga, Portugal<br />
        Avenida da Liberdade, 4830-031<br />
        <abbr title="Phone">Contacto:</abbr>
        253253253
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>
