@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}



<!-- TITLE -->
<div class="titulo">
    <center>
        <h1>ESTÁ PREPARADO PARA A SUA MASSAGEM?</h1>
    </center>
</div>


<!-- https://www.bootply.com/70929 -->
<hr>
<div style="margin-left: 160px;" class="row">
    <center>
        <div class="col-lg-2 col-sm-3 col-xs-4">
            <center>
                <img style='height: 90%; width: 90%;' class="img-responsive" src="..\..\Content\images\relaxar.png">
                <h3>Relaxante</h3>
            </center>
        </div>
        <div class="col-lg-2 col-sm-3 col-xs-4">
            <center>
                <img style='height: 100%; width: 100%;' class="img-responsive" src="..\..\Content\images\deep.png">
                <h3>Profunda</h3>
            </center>
        </div>
        <div class="col-lg-2 col-sm-3 col-xs-4">
            <center>
                <img style='height: 95%; width: 95%;' class="img-responsive" src="..\..\Content\images\sueca.png">
                <h3>Sueca</h3>
            </center>
        </div>
        <div class="col-lg-2 col-sm-3 col-xs-4">
            <center>
                <img style='height: 83%; width: 83%;' class="img-responsive" src="..\..\Content\images\desportiva.png">
                <h3>Desportiva</h3>
            </center>
        </div>
        <div class="col-lg-2 col-sm-3 col-xs-4">
            <center>
                <img style='height: 100%; width: 100%;' class="img-responsive" src="..\..\Content\images\natal.png">
                <h3>Pré-Natal</h3>
            </center>
        </div>
    </center>
</div>



<!--
<div class="row">
    <div class="col-md-4">
        <center>

        </center>
    </div>
    <div class="col-md-4">
        <center>
            <img style='height: 20%; width: 20%; object-fit: contain' src="..\..\Content\images\deep.png" class="massagens">
            <h2>Profunda</h2>
        </center>
    </div>
    <div class="col-md-4">
        <center>
            <img style='height: 20%; width: 20%; object-fit: contain' src="..\..\Content\images\sueca.png" class="massagens">
            <h2>Sueca</h2>
        </center>
    </div>
    <div class="col-md-4">
        <center>
            <img style='height: 20%; width: 20%; object-fit: contain' src="..\..\Content\images\desportiva.png" class="massagens">
            <h2>Desportiva</h2>
        </center>
    </div>
    <div class="col-md-4">
        <center>
            <img style='height: 20%; width: 20%; object-fit: contain' src="..\..\Content\images\natal.png" class="massagens">
            <h2>Pré-Natal</h2>
        </center>
    </div>
</div>
-->