@{
    Layout = "~/Views/Shared/_Cliente.cshtml";
    ViewBag.image = 1;
}

<h1>@ViewBag.Id</h1>
@Html.ActionLink("Hello " + User.Identity.Name + "!", "Index", "Cliente")

<div style="margin-top:5px;">
    <form method="post" action="/Cliente/AdicionarCliente" role="login">
        <center>
            <h1>@ViewBag.Title</h1>
            <h5 style="color:grey;">Preencha todos os campos.</h5>
        </center>
        <div class="row" style="margin-top:80px;">
            <div class="column">
                <div class="container">
                    <section class="login-form">
                        <center>
                            <input type="number" name="Cartao_Credito" class="form-control" placeholder="Número de Cartão de Crédito" required />
                            <input type="number" name="Endereco" class="form-control" placeholder="Morada" required />
                            <input type="number" name="Codigo_Postal" class="form-control" placeholder="Código de Postal" required />
                            <input type="datetime-local" name="Data" class="form-control" value=@ViewBag.Time min=@ViewBag.Time required />
                        </center>
                    </section>
                </div>
            </div>
            <div class="column" style="margin-top:30px;">
                <div>
                    <input type="radio" name="massagem" checked>RELAXANTE
                </div>
                <div>
                    <input type="radio" name="massagem">PROFUNDA
                </div>
                <div>
                    <input type="radio" name="massagem">SUECA
                </div>
                <div>
                    <input type="radio" name="massagem">DESPORTIVA
                </div>
                <div>
                    <input type="radio" name="massagem">PRÉ-NATAL
                </div>
            </div>
        </div>
        <center>
            <button type="submit" name="go" class="lb btn btn-primary">Requisitar</button>
        </center>
    </form>
</div>