@{
    Layout = ViewBag.Shared;
}

<h2>@ViewBag.mensagem</h2>
<h4 style="color:grey">@ViewBag.subMensagem</h4>
@{string returnControler = @ViewBag.controller; string returnView = ViewBag.view;}
@using (Html.BeginForm(returnView, returnControler, FormMethod.Post))
{
    <button class="lb btn btn-primary">Voltar</button>
}