@{
    ViewBag.Title = "ObterDirecoes";
    Layout = "~/Views/Shared/_Localizacao.cshtml";
}



<div class="container">
    <h2>Direções</h2>
    <div id="myMap" style="position:relative; width:500px; height:500px"></div>
    <br />
    <div>
        @using (Html.BeginForm("Index", "Funcionario", FormMethod.Post))
        {
            <button class="lb btn btn-default">Voltar</button>
        }
    </div>
</div>