@{
    ViewBag.Title = "Massagens";
    Layout = "~/Views/Shared/_Cliente.cshtml";
}


<br />
<br />
<h2 style="color:grey">Relaxante</h2>
<br />
<p>
    A massagem relaxante combina técnicas relaxantes como reflexologia, massagem no couro cabeludo, massagem facial e no pescoço e massagem nas costas para promover um sono profundo e de qualidade.
</p>
<p>
    A massagem relaxante é ótima para quem pretender desfrutar de um descanso profundo e restaurador, ajudando o paciente a dormir melhor e a tratar a insônia.
</p>
<p>
    <b>Duração:</b> 45 min.
</p>
<p>
    <b>Preço:</b> 40 euros.
</p>
<hr />
<br />


<h2 style="color:grey">Profunda</h2>
<br />
<p>
    Através de movimentos lentos e firmes, a massagem dos tecidos profundos alcança as camadas mais profundas dos músculos, tendões e fáscia (músculos que cobrem os tecidos), desfazendo os nós doridos e reduzindo as dores no geral.
</p>
<p>
    Usada para redução de dores crónicas e alívio de zonas contraídas como o pescoço, parte superior das costas, lombar e músculos das pernas e ombros.
</p>
<p>
    <b>Duração:</b> 60 min.
</p>
<p>
    <b>Preço:</b> 60 euros.
</p>
<hr />
<br />


<h2 style="color:grey">Sueca</h2>
<br />
<p>
    Através de uma combinação de movimentos de deslizamento e amassamento, ao longo desta massagem o terapeuta procura libertar o desconforto muscular geral e a tensão física do paciente.
</p>
<p>
    A massagem sueca trata-se de uma das técnicas de massagem mais populares em todo o mundo, sendo usualmente procurada para relaxamento.
</p>
<p>
    <b>Duração:</b> 45 min.
</p>
<p>
    <b>Preço:</b> 40 euros.
</p>
<hr />
<br />


<h2 style="color:grey">Desportiva</h2>
<br />
<p>
    Combinando a massagem profunda e o alongamento assistido, a massagem disportiva é ideal para quem procura diminuir a dor muscular, melhorar a flexibilidade e aumentar a amplitude dos seus movimentos.
</p>
<p>
    <b>Duração:</b> 60 min.
</p>
<p>
    <b>Preço:</b> 70 euros.
</p>
<hr />
<br />


<h2 style="color:grey">Pré-Natal</h2>
<br />
<p>
    A massagem pré-natal é ideal para aliviar o desconforto provocado pela gravidez nas futuras mães.
</p>
<p>
    Ao longo da massagem, o terapeuta irá usar uma combinação de técnicas destinadas a aliviar a dor pélvica e nas costas, reduzindo o inchaço e emlhorando o bem estar geral.
</p>
<p>
    <b>Duração:</b> 90 min.
</p>
<p>
    <b>Preço:</b> 90 euros.
</p>

