@{
    Layout = "~/Views/Shared/_Cliente.cshtml";
    ViewBag.Title = "Sobre";
}



<div class="container">
    <div class="animate fadeInUp one">
        <h2 style="color:grey">Zen+</h2>

        <p>
            A Zen+ é uma empresa com vários centros de massagens espalhados por várias zonas do país, e cuja sede se encontra em Braga.
            O seu grande objetivo é melhorar a vida dos seus clientes, promovendo através das suas massagens o relaxamento, o combate do stress acumulado e ajudando no tratamento de diversas lesões e problemas musculares.
        </p>

        <br />
        <p>
            <b>Terapeutas:</b> Todos os terapeutas da Zen+ são licenciados e comprometidos a oferecer aos seus pacientes um serviço de qualidade.
        </p>
        <p>
            <b>Onde e Quando:</b> Os serviços são prestados de acordo com as preferências do paciente. Este deve por isso indicar qual o serviço que pretende usufruir, quando pretende que este seja prestado e onde.
        </p>
        <p>
            <b>Prestação do Serviço:</b> No dia e horas definidos pelo cliente, um tarapeuta irá deslocar-se ao local indicado e levará consigo todos os acessórios necessários para a realização da massagem.
        </p>

        <div style="margin-top: 50px;">
            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a><br />
                <strong>Phone:</strong> 253253253
            </address>
        </div>
    </div>
</div>